node_modules

/.cache
/build
.env

# Add these lines to your existing .gitignore
*.log
/prisma/migrations
/venv
/reports


# ----------------------------
# Python cache / build files
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/